.DS_Store

vim/backup/**
vim/undo/**
vim/swap/**
vim/plugged/**
vim/*.tmp
viminfo
viminfo.*
.netrwhist
.un~

# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs.d/*
*.elc
# But don't ignore these specific locations.
!emacs.d/snippets
!emacs.d/init.el
!emacs.d/custom.el

mutt/temp/**
mutt/cache/**
mutt/offlineimap.py
mutt/offlineimap.pyc
offlineimaprc

pentadactyl/info
/mutt/certificates

fbrun_history
