.DS_Store
.netrwhist
.un~
fbrun_history
debug.log

# Vim
vim/vim.symlink/*

!vim/vim.symlink/init.vim
!vim/vim.symlink/snippets
!vim/vim.symlink/templates
!vim/vim.symlink/syntax

# Emacs
# Ignore all of emacs.d, which is mostly compiled/downloaded scripts.
emacs/emacs.d.symlink/*
*.elc
# But don't ignore these specific locations.
!emacs/emacs.d.symlink/snippets
!emacs/emacs.d.symlink/init.el
!emacs/emacs.d.symlink/custom.el
!emacs/emacs.d.symlink/themes
!emacs/emacs.d.symlink/lisp

# Mutt
mutt/mutt.symlink/temp/**
mutt/mutt.symlink/cache/**
mutt/mutt.symlink/offlineimap.py
mutt/mutt.symlink/offlineimap.pyc
mutt/mutt.symlink/certificates

mutt/offlineimaprc.symlink

oldmail-arnie.venncreative.co.uk-995-wp@venncreative.co.uk

offlineimap/*.gpg

# Pentadactyl
pentadactyl/pentadactyl.symlink/info

git/gitconfig.local.symlink

karabiner/karabiner.symlink/automatic_backups
