extends html

snippet new-layout "Add structure for new layout"
	<section class="layout">
		<div class="row">
			<div class="column ${1:one-whole}">
				 ${2}
			</div>
		</div>
	</section>
endsnippet
