[Unit]
Description=Starts an autolocking program on startup
After=graphical.service

[Service]
ExecStart=/usr/bin/xautolock -locker slock -time 3
Type=forking
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
