:root {    /* Dracula by Chris Kempson (http://chriskempson.com) */
    --bg-default    : #121212;
    --bg-emphasis   : #292929;
    --bg-muted      : #1c1c1c;
    --bg-status     : #875f5f;

    --fg-default    : #d9d9d9;
    --fg-emphasis   : #ffffff;
    --fg-muted      : #3a3a3a;
    --fg-status     : #d7d7af;

    --special-comment  : #719872;
    --special-visual   : #005f5f;
    --special-visualEm : #004747;
    --special-warning  : #d7005f;
    --special-search   : #005f87;
    --special-menu     : #ffd7d7;
    --special-menuSel  : #87005f;

    --base-black0     : #4e4e4e;
    --base-black1     : #626262;

    --base-white0     : #d0d0d0;
    --base-white1     : #e4e4e4;

    --base-red0       : #d68787;
    --base-red1       : #d75f87;

    --base-blue0      : #85add4;
    --base-blue1      : #add4fb;

    --base-green0     : #5f865f;
    --base-green1     : #87af87;

    --base-palegreen0 : #DFDEBD;
    --base-palegreen1 : #b3b061;

    --base-yellow0    : #d8af5f;
    --base-yellow1    : #ffd787;

    --base-magenta0   : #d7afaf;
    --base-magenta1   : #ffafaf;

    --base-cyan0      : #87afaf;
    --base-cyan1      : #87d7d7;

    --base-orange0    : #E19972;
    --base-orange1    : #d7875f;

    --base-brown0     : #af875f;
    --base-brown1     : #876543;

    --base-purple0    : #8787af;
    --base-purple1    : #8787ff;

    --tridactyl-bg: var(--bg-default);
    --tridactyl-fg: var(--fg-default);

    --tridactyl-cmdl-font-size : 10pt;

    --tridactyl-hint-outline : none;
    --tridactyl-hintspan-bg : var(--base-yellow0);
    --tridactyl-hintspan-fg : var(--bg-default);

    --tridactyl-hint-active-bg : var(--special-search);
    --tridactyl-hint-active-fg : var(--fg-default);

    --tridactyl-url-fg: var(--base-cyan0);

    --tridactyl-highlight-box-bg: var(--base-purple1);

}

.TridactylStatusIndicator {    
    position: fixed !important;
    bottom: .5rem !important;
    left: .5rem !important;
    right: unset !important;
    padding: .25rem .5rem !important;
    text-transform: uppercase !important;

    background: var(--bg-status) !important;
    color: var(--fg-status) !important;

    border-radius: 0 !important;
    border: none !important;
}

.TridactylStatusIndicator.TridactylModeignore {
    background-color: var(--bg-muted) !important;
}

.TridactylStatusIndicator.TridactylModeinsert,
.TridactylStatusIndicator.TridactylModeinput {
    background-color: var(--base-green0) !important;
    color: var(--bg-default) !important;
}

.TridactylStatusIndicator.TridactylModehint {
    background-color: var(--base-yellow0) !important;
    color: var(--bg-default) !important;
}

#completions .sectionHeader {
    background: var(--bg-status);
    color: var(--fg-status);
}

#completions > div > table {
  font-size: 10pt;
}

#completions .focused {
  color: var(--fg-default) !important;
  background: var(--special-visualEm);
}

.focused .url {
  color: var(--fg-default) !important;
  background: var(--special-visualEm);
}

.TridactylFindHighlight {
    background-color: var(--special-search) !important;
}
