snippet images "get images from remote"
	# Attempt to load files from production if they're not in our local version

	RewriteEngine on
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.*) http://${1:example.com}/${2:content}/uploads/\$1
endsnippet
